@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the soup store</h1>
    <p>This is a practice project made for showcasing basic skills in ASP.net.</p>
</div>
